.descricao{
  font-size: 18px;
}
.body{
    background-color: rgb(5, 5, 7);
}
.titulo{
    color: rgb(5, 5, 5); 
    font-size: 40px;
}
.logo{
    width: 400px;
    height: 400px;
}
.cabecalho{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.coluna1{
    text-align: center;
    width: 70%;
}